.weather-form-container {
  margin: 0 auto;
  border: solid 1px #808080;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 20px;
  width: 700px;
}
.weather-form p {
  text-align: center;
  padding-top: 10px;
}
ul {
  list-style: none;
  color: #9aa0a6;
  width: fit-content;
}
.icon {
  padding-left: 5px;
  padding-top: 5px;
}
.temperature {
  margin-top: -65px;
  margin-left: 70px;
}
.temperature strong {
  font-size: 41px;
}
.units {
  color: #9aa0a6;
  font-size: 14px;
  padding-left: 50px;
  margin-top: -50px;
}
.details {
  margin-left: -50px;
  margin-top: 15px;
  font-size: 12px;
}
.date {
  margin-top: 10px;
  margin-bottom: 20px;
}
