body {
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
}
.weather-form-container {
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 800px;
  padding-top: 20px;
  box-shadow: 0.5px 0.5px 1.5px #9aa0a6;
}
.weather-form p {
  text-align: center;
  padding-top: 10px;
}
ul {
  list-style: none;
  color: #9aa0a6;
  width: fit-content;
}
.icon {
  position: relative;
  top: -10px;
}
.temperature {
  position: relative;
  top: -95px;
  left: 90px;
}
.temperature strong {
  font-size: 41px;
}
.units {
  color: #9aa0a6;
  font-size: 14px;
  padding-left: 50px;
  margin-top: -50px;
}
.details {
  margin-left: -50px;
  margin-top: 15px;
  font-size: 12px;
}
.date {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  left: 30px;
}
.temperature .active {
  color: #9aa0a6;
  cursor: default;
  text-decoration: none;
}
.temperature.active:hover {
  text-decoration: none;
  cursor: default;
}
a {
  text-decoration: none;
  cursor: default;
}
.forecast {
  text-align: center;
  padding-bottom: 20px;
  font-size: 13px;
}
.weather-forecast-min {
  opacity: 0.6;
}
.weather-forecast-date {
  font-size: medium;
}
